
body{
    margin: 0;
    padding: 0;
    height: 100%;
}

#game-intro{
display: block;
background-image: url(images/Backgrounds/Intro:End.svg);
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#intro-text{
  background-color: #B1E0FF;
  width: 600px;
  border-radius: 25px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
}

.instructions {
    display: none;
    opacity:0;
    width: 0px; 
    height: 0px; 
    position: absolute; 
    background-color: white;
}

.animated {
    animation: popup 1s forwards;
    display: block;
}

/* Animation */
@keyframes popup {
    /* Initial position, width and height */
   from {
    opacity: 0;
     left: 50%; 
     top: 50%;
     transform: translate(-50%, -50%);
     width: 0px;
     height: 0px;
   }

    /* Final position, width, height and border to transition to
  during the animation */
  to {
    opacity: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    border: 1px solid black;
  }
}

.title-img{
  width: 700px;
  margin-top: 10px;
}

.penguin-heart-img{
  width: 600px;
  margin-bottom: 20px;
}

#game-screen {
    display:none;
    background-image: url(images/Backgrounds/backgroundDef.png);
    background-size: cover;
    height: 100vh;
    /* margin: 10px 10px; */
    animation: slide 10s linear infinite;
}


@keyframes slide {
  0% {
    background-position: 1366px 0;
  }
  100% {
    background-position: 0 0;
  }
}

.game-scoring {
  display:flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  
}

.score-img{
  width: 200px;
}

#game-end{
  display: none;
  background-image: url(images/Backgrounds/Intro:End.svg);
  background-size: cover;
}

#game-won{
  display: none;
}

.game-won-img{
  width:600px;
}

#game-lost{
  display: none;
}

#game-lost h1{
  color: white;
  font-size: 40px;
}
.game-lost-img{
  width: 500px;
}

body button {
  font-size: 18px;
  background-color: #e51a04;
  color: #fff;
  width: 150px;
  height: 50px;
  border: 0;
  box-shadow: 0;
  border-radius: 15px;
  margin-bottom: 60px;
}
